<!doctype html>
<html>
  <head>
    <title>SpotifyME - Google of Music</title>
    <link rel="icon" href="http://icons.iconarchive.com/icons/blackvariant/button-ui-requests-2/128/Spotify-icon.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
      .search-box {
        display: flex;
        padding: 5%;
      }
      .reset-toxen{
        color: #fff;
      }
    </style>
  </head>

  <body>

  <div>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="http://icons.iconarchive.com/icons/blackvariant/button-ui-requests-2/128/Spotify-icon.png" width="30" height="30" alt="">
        SpotifyME
      </a>
      <form class="form-inline">
        <a href="/login" class="btn btn-primary" id="login">Log in with Spotify<div id="oauth">
        </div></a>
        <a href="http://localhost:8888/" class="btn btn-primary" id="loggedin"><div id="user-profile">
        </div></a>
        <button class="btn btn-sm btn-outline-secondary reset-toxen" type="button" id="obtain-new-token"><i class="fas fa-2x fa-sync-alt"></i></button>
      </form>
    </nav>
  </div>

    <div class="container search-box">
      <input class="form-control form-control-lg" type="text" placeholder="Let's Search" id="song">
      <input type="button" value="Click Me" onclick="getData()" class="btn btn-primary btn-lg search-button">
    </div>
    <div id="music" class="container"></div>

    <script>

      function getData() {
        var req = new XMLHttpRequest();
        var song = document.getElementById("song").value;
        var auth = "Bearer " + localStorage.getItem('access_token');
        req.open("GET","https://api.spotify.com/v1/search?q=" + song + "&type=album&limit=25" , true);
        req.setRequestHeader("Authorization", auth);
        req.onload = function () {
          // Begin accessing JSON data here
          var data = JSON.parse(this.response);
          console.log(data.albums.items);

          if (req.status >= 200 && req.status < 400) {
            // data.albums.items.forEach(function(item) {
            //   console.log(item.name);
            // });
            for (var i = 0; i < data.albums.items.length; i++) {
               document.getElementById("music").innerHTML += data.albums.items[i].name + "<br>";
                     console.log(data.albums.items[i].name);
           }
          }else {
            console.log('error');
          }
        }
        req.send();
        // console.log(req.response);

        document.getElementById("music").innerHTML = req.response;
      }
    </script>

    <script id="user-profile-template" type="text/x-handlebars-template">
      {{id}}
    </script>

    <script id="oauth-template" type="text/x-handlebars-template">
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
      </dl>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }

        var userProfileSource = document.getElementById('user-profile-template').innerHTML,
            userProfileTemplate = Handlebars.compile(userProfileSource),
            userProfilePlaceholder = document.getElementById('user-profile');

        var oauthSource = document.getElementById('oauth-template').innerHTML,
            oauthTemplate = Handlebars.compile(oauthSource),
            oauthPlaceholder = document.getElementById('oauth');

        var params = getHashParams();

        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;

        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            // render oauth info
            console.log(access_token);
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });

            $.ajax({
                url: 'https://api.spotify.com/v1/me',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
                  userProfilePlaceholder.innerHTML = userProfileTemplate(response);

                  $('#login').hide();
                  $('#loggedin').show();
                }
            });
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
          }

          document.getElementById('obtain-new-token').addEventListener('click', function() {
            $.ajax({
              url: '/refresh_token',
              data: {
                'refresh_token': refresh_token
              }
            }).done(function(data) {
              access_token = data.access_token;
              oauthPlaceholder.innerHTML = oauthTemplate({
                access_token: access_token,
                refresh_token: refresh_token
              });
            });
            console.log(access_token);
          }, false);
        }
      })();
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
  </body>
</html>
